{% extends 'main-base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <h1 class="display-2 px-5 mb-3 border-bottom">
        Create Task
    </h1>    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'todo:list_create' %}" class="d-flex flex-column justify-content-center align-items-center border-bottom border-dark w-100 pb-3" method="post">
        {% csrf_token %}
        {{ form_task | crispy }} 
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-primary mt-3">            
        </div>   
        <hr>            
    </form>
    <hr>
    <h1 class="display-2 px-5 my-3 border-bottom">
        Tasks        
    </h1>    
    <form action="{% url 'todo:list_create' %}" class="d-flex justify-content-center align-items-center mb-5">
        {{ form_search | crispy }}
        <input type="submit" class="btn btn-primary mx-2" value="search">
        <a href="{% url 'todo:list_create' %}" class="btn btn-secondary">clear</a>
    </form>    
    {% for task in task_list %}
        {% if task.owner == request.user %}
        <li class="list-group-item list-group-item-primary p-3 rounded-2 m-1 w-100 text-break fs-2">
            <p>
                <a href="{% url 'todo:detail' task.id %}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Title: {{ task.title }}</a> ( <a href="{% url 'todo:edit' task.id %}" class="link-primary link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover">Update</a> | <a href="{% url 'todo:delete' task.id %}" class="link-danger link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a> )
            </p>
            <p class='fs-4 text-black'>
                status: {{ task.status }}
            </p>
            <p class="fs-6">
                posted by {{ task.owner }}
            </p>
        </li>
        {% else %}
            <li class="list-group-item list-group-item-secondary p-3 rounded-2 m-1 w-100 text-break fs-2">
                <p>
                    <a href="{% url 'todo:detail' task.id %}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Title: {{ task.title }}</a>
                </p>
                <p class='fs-4 text-black'>
                    status: {{ task.status }}
                </p>
                <p class="fs-6">
                    posted by {{ task.owner }}
                </p>
            </li>
        {% endif %}
    {% empty %}
        <div class="alert alert-danger" role="alert">
            No Task Yet
        </div>
    {% endfor %}    

{% endblock %}